* {
    padding: 0;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
  }
  
  /* general css */
  html,
  body a {
    text-decoration: none !important;
  }
  .no-mr {
    margin: 0 !important;
  }
  .no-pd {
    padding: 0 !important;
  }
  .bg-black {
    background-color: black;
  }
  .bg-brown {
    background-color: #121212;
  }
  /* luan custom header */
  navbar-toggler-icon {
    color: white !important;
  }
  .custom-header ul {
    text-align: right;
  }
  .custom-header ul li a {
    color: white !important;
    font-size: 1.2rem;
    margin: 0 10px;
  }
  .custom-header a span {
    color: #eebf0d;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0 5px !important;
  }
  .custom-header .logo-header {
    width: 20%;
    height: auto;
    transform: translateX(100px);
  }
  
  /* footer */
  .bg-footer {
    width: 100%;
    height: auto;
    background-image: url('../img/background-footer.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  .custom-footer {
    line-height: 1.7;
  }
  .custom-footer h5 {
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
  }
  .custom-footer a {
    color: white;
    font-size: 1.1rem;
  }
  .custom-social a {
    font-size: 1.7rem;
    margin: 0 10px;
    color: #eebf0d;
  }
  .custom-social p {
    font-size: 1.2rem;
  }
  .footer-under h3 {
    padding: 10px 0 5px 0;
    text-align: center;
  }
  .footer-under h3 {
    color: white;
    font-size: 1.2rem;
  }
  /* partnership */
  .title-partner{
      font-weight: bold;
  }
  .button-partner{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .element-button-partner-container{
      width:14rem;
      height:4rem;
      padding:1rem 2.5rem 1rem 2.5rem;
      border-radius: 27px;
      color:black;
      background-color: white;
      box-shadow: 4px 2px 8px 0 rgba(0,0,0,.41);
      font-size: 1.1rem;  
  }
  .element-button-partner-container:hover{
      text-decoration: none;
      background-color: black;
      color: yellow;
      transition: linear 0.3s;
  }
  .element-button-partner-container-inner{
      display: flex;
      justify-content: space-around;
      align-items: center;
  }
  /* Projects */
  .projects{
    margin-top:5rem;
  }
  .project-card{
    width:30%;
    background-color:rgb(249,249,249);
    display:flex;
    align-items: center;
    position: relative;
    border:1px solid #eee;
    flex-direction: column;
    padding:6rem 1.5rem 4rem 1.5rem;
    margin-top:3rem;
  }
  .thumbnail-projects{
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    border-radius: 500px;
    box-shadow: 0 0 24px -4px rgba(0,0,0,.5);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    position: absolute;
    top:-10%;
  }
  .title-projects{
    font-weight: bold;
    font-size:1.2rem;
    margin-bottom:2rem;
  }
  .content-projects-details{
    text-align: left;
    font-size:1.2rem;
    font-family: "Geomatriya",Sans-serif;
  }
  .end-project-card{
    width:100%;
    background-color:rgb(234,234,234);
    position: absolute;
    top:96%;
    height:1.2rem;
  }
  /* div>.project-card:nth-child(2){
      margin:0 1rem;
  } */
