*{
    margin:0;
    padding:0;
}
/* partnership */
.title-partner{
    font-weight: bold;
}
.button-partner{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.element-button-partner-container{
    width:14rem;
    height:4rem;
    padding:1rem 2.5rem 1rem 2.5rem;
    border-radius: 27px;
    color:black;
    background-color: white;
    -webkit-box-shadow: 2px 2px 3px 6px #ccc;
    -moz-box-shadow:    2px 2px 5px 6px #ccc; 
    box-shadow:         2px 2px 5px 6px #ccc; 
    font-size: 1.1rem;  
}
.element-button-partner-container:hover{
    text-decoration: none;
    background-color: black;
    color: yellow;
    transition: linear 0.3s;
}
.element-button-partner-container-inner{
    display: flex;
    justify-content: space-around;
    align-items: center;
}