* {
  padding: 0;
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  box-sizing: border-box;
}
/* general css */
html,
body a {
  text-decoration: none !important;
}
.no-mr {
  margin: 0 !important;
}
.no-pd {
  padding: 0 !important;
}
.bg-black {
  background-color: black;
}
.bg-brown {
  background-color: #121212;
}
/* luan custom header */
navbar-toggler-icon {
  color: white !important;
}
.custom-header ul {
  text-align: right;
}
.custom-header ul li a {
  color: white;
  font-size: 1.2rem;
  margin: 0 10px;
}
.custom-header a span {
  color: #eebf0d;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0 5px !important;
}
.custom-header .logo-header {
  width: 20%;
  height: auto;
  transform: translateX(100px);
}

/* footer */
.bg-footer {
  width: 100%;
  height: auto;
  background-image: url('../img/background-footer.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.custom-footer {
  line-height: 1.7;
}
.custom-footer h5 {
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
}
.custom-footer a {
  color: white;
  font-size: 1.1rem;
}
.custom-social a {
  font-size: 1.7rem;
  margin: 0 10px;
  color: #eebf0d;
}
.custom-social p {
  font-size: 1.2rem;
}
.footer-under h3 {
  padding: 10px 0 5px 0;
  text-align: center;
}
.footer-under h3 {
  color: white;
  font-size: 1.2rem;
}
.leadia-science-wallet img {
  width: 40px;
  height: 40px;
  border-radius: 200px;
  float: left;
  margin-right: 20px;
}
.leadia-science-wallet p {
  font-size: 0.8rem;
  color: white;
}
.leadia-science-wallet {
  background-color: #bcbb81;
  transition: 0.6s;
  display: inline-block;
  width: 300px;
  border-radius: 10px 10px 0px 0px;
  padding: 10px;
  position: fixed;
  right: 2%;
  bottom: 0px;
  opacity: 0.9;
}
.leadia-science-wallet:hover {
  background-color: #bcbb81;
  transition: 0.6s;
  opacity: 1;
  transform: translateY(-2px);
}
/* end footer */
/* partnership */
.title-partner {
  font-weight: bold;
}
.button-partner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.element-button-partner-container {
  width: 14rem;
  height: 4rem;
  padding: 1rem 2.5rem 1rem 2.5rem;
  border-radius: 27px;
  color: black;
  background-color: white;
  -webkit-box-shadow: 2px 2px 3px 6px #ccc;
  -moz-box-shadow: 2px 2px 5px 6px #ccc;
  box-shadow: 2px 2px 5px 6px #ccc;
  font-size: 1.1rem;
}
.element-button-partner-container:hover {
  text-decoration: none;
  background-color: black;
  color: yellow;
  transition: linear 0.3s;
}
.element-button-partner-container-inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.active-menu a {
  color: #eebf0d !important;
}
.custom-card-team {
  text-align: center;
  box-shadow: 4px 5px 20px 0 rgba(0, 0, 0, 0.24);
}
.custom-card-team h2 {
  font-size: 1.4rem;
  font-weight: bold;
}
.custom-card-team h4 {
  font-size: 1.1rem;
}
.custom-card-team img {
  width: 75%;
  height: auto;
  border-radius: 400px;
}
.list-social-team {
  font-size: 1rem;
}
.list-social-team a {
  margin: 0 2px;
  padding: 7px 5px;
  border-radius: 100px;
}
.list-social-team a:nth-child(1) {
  background-color: #0077b5;
}
.list-social-team a:nth-child(2) {
  background-color: #2ea6e0;
}
.list-social-team a:nth-child(3) {
  background-color: #818a91;
}
.list-social-team a i {
  padding: 5px;
  color: white;
}
.title-team {
  text-align: center;
  animation-name: appearTitle;
  opacity: 0;
  animation-duration: 3s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}
.custom-card-blog {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.26);
}
.custom-card-blog h3 {
  padding: 5px 15px;
  color: black;
  font-size: 1.1rem;
  font-weight: bold;
}
.custom-card-blog h3:hover {
  text-decoration: underline;
}
.custom-card-blog p {
  padding: 5px 15px;
  color: black;
  font-size: 1rem;
}
.custom-btn-blog {
  background: #eebf0d;
  color: white;
  padding: 10px 15px;
  margin: 20px 10px;
}
.custom-btn-blog:focus {
  box-shadow: none;
}
.custom-btn-blog:hover {
  color: white;
}
.custom-card-blog:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
}
.custom-card-blog .card-body {
  padding: 0 !important;
}
.animation-growup {
  animation-name: growup;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.custom-blog-detail {
  line-height: 1.7;
  text-indent: 10px;
}
.custom-blog-detail h1 {
  font-size: 2.5rem;
  font-weight: bold;
}
.custom-blog-detail h3 {
  font-size: 1.4rem;
  font-weight: 600;
}
.custom-blog-detail p,
.custom-blog-detail ul {
  font-size: 1.2rem;
}
.custom-blog-detail ul {
  margin: 0 20px;
}
/* animation */
@keyframes appearTitle {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes growup {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}
.no-pd {
  padding: 0 !important;
}
.bg-black {
  background-color: black;
}
.bg-brown {
  background-color: #121212;
}
/* luan custom header */
navbar-toggler-icon {
  color: white !important;
}
.custom-header ul {
  text-align: right;
}
.custom-header ul li a {
  color: white !important;
  font-size: 1.2rem;
  margin: 0 10px;
}
.custom-header a span {
  color: #eebf0d;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0 5px !important;
}
.custom-header .logo-header {
  width: 20%;
  height: auto;
  transform: translateX(100px);
}

/* footer */
.bg-footer {
  width: 100%;
  height: auto;
  background-image: url('../img/background-footer.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.custom-footer {
  line-height: 1.7;
}
.custom-footer h5 {
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
}
.custom-footer a {
  color: white;
  font-size: 1.1rem;
}
.custom-social a {
  font-size: 1.7rem;
  margin: 0 10px;
  color: #eebf0d;
}
.custom-social p {
  font-size: 1.2rem;
}
.footer-under h3 {
  padding: 10px 0 5px 0;
  text-align: center;
}
.footer-under h3 {
  color: white;
  font-size: 1.2rem;
}
/* partnership */
.title-partner {
  font-weight: bold;
}
.button-partner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.element-button-partner-container {
  width: 14rem;
  height: 4rem;
  padding: 1rem 2.5rem 1rem 2.5rem;
  border-radius: 27px;
  color: black;
  background-color: white;
  box-shadow: 4px 2px 8px 0 rgba(0, 0, 0, 0.41);
  font-size: 1.1rem;
}
.element-button-partner-container:hover {
  text-decoration: none;
  background-color: black;
  color: yellow;
  transition: linear 0.3s;
}
.element-button-partner-container-inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* Projects */
.projects {
  margin-top: 5rem;
}
.project-card {
  width: 30%;
  background-color: rgb(249, 249, 249);
  display: flex;
  align-items: center;
  position: relative;
  border: 1px solid #eee;
  flex-direction: column;
  padding: 6rem 1.5rem 4rem 1.5rem;
  margin-top: 3rem;
}
.thumbnail-projects {
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  border-radius: 500px;
  box-shadow: 0 0 24px -4px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  position: absolute;
  top: -10%;
}
.title-projects {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
.content-projects-details {
  text-align: left;
  font-size: 1.2rem;
  font-family: 'Geomatriya', Sans-serif;
}
.end-project-card {
  width: 100%;
  background-color: rgb(234, 234, 234);
  position: absolute;
  top: 96%;
  height: 1.2rem;
}
/* div>.project-card:nth-child(2){
    margin:0 1rem;
} */
/* ????? của Tô ???? */
/* ??? services ?? */
.content-services {
  margin-left: 125px;
  margin-right: 125px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.elementor-services {
  margin-top: 40px;
}
.elementor-services a {
  text-decoration: none;
  color: #f3cb53;
}
.container-box-services {
  width: 33.3%;
  padding: 20px 10px;
}
.box-services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 300px;
  border-radius: 5px;
  padding: 20px 7px 20px 7px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.12);
}
.box-services .img-services img {
  width: 70px;
  height: 70px;
}
.box-services a {
  text-decoration: none;
  color: black;
  font-size: 1.0625rem;
  border: 0px solid rgba(226, 226, 226, 0);
  background-color: rgba(0, 85, 142, 0);
  border-radius: 50px 50px 50px 50px;
  padding: 19px 55px 19px 55px;
  box-shadow: 4px 2px 8px 0 rgba(0, 0, 0, 0.41);
  transition: 0.4s;
}
.box-services h5 {
  font-weight: 400;
  font-size: 1.125rem;
}

.box-services a:hover {
  background-color: #0c0c0c;
  color: #eebf0d;
}

.box-services:hover {
  box-shadow: #cccccc 1px 1px 8px 2px;
}
/* ???? services-1 ??? */
.container-box-services-1 {
  width: 25%;
  padding: 20px 10px;
}
.container-box-services-1 h5 {
  text-align: center;
}
/* >>>> .services-2>>>>> */
.services-2 {
  font-size: 1.1875rem;
}
.services-2 h2 {
  font-weight: bold;
}
.btn-services-2 {
  animation: gotoup;
  animation-duration: 3s;
  text-decoration: none;
  color: black;
  font-size: 1.0625rem;
  border: 0px solid rgba(226, 226, 226, 0);
  background-color: rgba(0, 85, 142, 0);
  border-radius: 50px 50px 50px 50px;
  padding: 19px 55px 19px 55px;
  box-shadow: 4px 2px 8px 0 rgba(0, 0, 0, 0.41);
  transition: 0.4s;
}
.btn-services-2:hover {
  background-color: #0c0c0c;
  color: #eebf0d;
}
.button-services {
  margin-top: 100px !important;
  margin-bottom: 100px !important;
}
/* ???? feedbacks ??? */
.content-feedbacks h2 {
  font-weight: bold;
  margin-top: 80px;
}
.content-feedbacks {
  animation: gotoup;
  animation-duration: 1s;
}
@keyframes gotoup {
  from {
    transform: translateY(200px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
.container-box-feedbacks {
  padding: 10px;
  height: auto;
  margin: 100px 185px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.img-box-feedbacks {
  width: 50%;
  float: left;
}
.img-box-feedbacks img {
  width: 75%;
  border-radius: 30px 30px 30px 30px;
  box-shadow: 0 0 32px -4px rgba(0, 0, 0, 0.5);
  margin-top: -50px;
}
.text-box-feedbacks {
  padding-right: 10px;
  margin-top: 30px;
  margin-bottom: 55px;
  width: 50%;
  float: left;
}
.text-box-feedbacks h2 {
  font-weight: 700;
  font-size: 1.6rem;
}
.text-box-feedbacks p {
  font-size: 1.025rem;
  color: #adb1b2;
}
.text-box-feedbacks span {
  font-size: 1.1875rem;
}
.next-arr {
  display: none;
}
.btn-feedbacks {
  text-decoration: none;
  color: black;
  font-size: 1.0625rem;
  border: 0px solid rgba(226, 226, 226, 0);
  background-color: rgba(0, 85, 142, 0);
  border-radius: 50px 50px 50px 50px;
  padding: 19px 55px 19px 55px;
  box-shadow: 4px 2px 8px 0 rgba(0, 0, 0, 0.41);
  transition: 0.4s;
}
.btn-feedbacks:hover {
  background-color: #0c0c0c;
  color: #eebf0d;
}
.text-center-feedbacks {
  margin-top: 100px !important;
  margin-bottom: 100px !important;
}
