/*độ rộng từ 768px đến 1023px*/
.content-services {
    margin-left: 20px;
    margin-right: 20px;
}
.container-feedbacks {
    margin-left: 10px !important;
    margin-right: 10px !important;
}
.container-box-feedbacks {
    width: 100% !important;
    margin-left: 0px;
    margin-right: 0px;
}
.container-box-victor {
    margin-left: 5px;
    margin-right: 5px;
}
/* Contacts */
.title-contacts {
    font-size: 3.5rem;
    font-family: 'Geomatriya', Sans-serif;
    font-weight: bold;
    text-align: center;
    position: absolute;
    color: white;
    top: 16%;
    left: 28%;
}
.button-contacts-request {
    width: 80%;
    outline: none;
    border: none;
    background-color: #E8A60C;
    color: white;
    padding: 1.2rem;
    border-radius: 27px;
    font-size: 0.8rem;
}
