/*độ rộng nhỏ hơn 768px*/
.content-services {
    margin-left: 20px;
    margin-right: 20px;
}
.container-box-services {
    width: 100%;
}
.container-box-services-1 {
    width: 100%;
}
.container-feedbacks {
    margin-left: 10px !important;
    margin-right: 10px !important;
}
.container-box-feedbacks {
    width: 100% !important;
    margin-left: 0px;
    margin-right: 0px;
}
.img-box-feedbacks {
    width: 100%;
}
.text-box-feedbacks {
    width: 100%;
}
.next-arr {
    display: block;
}
.element-victor-services {
    display: flex;
    flex-direction: column ;
    padding-bottom: 50px;
}
.element-victor-services-col {
    width: 100%;
    padding: 0px;
    margin: 10px 0 0 0 ;
}
.card-victor-services {
    width: 100%;
}
.card-victor-services img {
    margin-bottom: 20px;
}
